!!! 5
html
  head
  	meta(property='qc:admins', content='45314266454064565546375')
  	meta(property='wb:webmaster', content='9e5fb08bcf45c188')
    title= typeof(title) !== 'undefined' ? title : "everyauth example"
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body
    h1 everyauth Example
    #main
      != body
