{% extends 'layout.html' %}

{% block box %}
{% if !everyauth.loggedIn %}
<div class="auth-sns">
    <h3>使用社交账号授权：</h3>
    <a class="qq" href="/auth/qq" title="QQ互联"></a>
    <a class="weibo" href="/auth/weibo" title="新浪微博"></a>
    <a class="baidu" href="/auth/baidu" title="百度"></a>
    <a class="douban" href="/auth/douban" title="豆瓣"></a>
    <a class="renren" href="/auth/renren" title="人人"></a>
    <a class="tqq" href="/auth/tqq" title="腾讯微博"></a>
    <a class="taobao" href="/auth/taobao" title="淘宝"></a>
    <a class="alipay" href="/auth/alipay" title="支付宝"></a>
</div>
<div class="auth-pass">
    <h4>使用自家账号授权：</h4>
    <a class="register" href="/register">注册</a>
    <a class="login" href="/login">登录</a>
</div>
{% else %}
<div class="auth-result">
<h2>UID: {{ everyauth.uid || 0 }} </h2>
{% if everyauth.qq %}
<h3>使用QQ账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.qq.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.weibo %}
<h3>使用新浪微博账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.weibo.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.baidu %}
<h3>使用百度账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.baidu.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.douban %}
<h3>使用豆瓣账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.douban.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.renren %}
<h3>使用人人账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.renren.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.tqq %}
<h3>使用腾讯微博账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.tqq.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.taobao %}
<h3>使用淘宝账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.taobao.user, null, '\t'); }}</p>
{% endif %}
{% if everyauth.alipay %}
<h3>使用支付宝账号登陆：</h3>
<p class="result">{{ JSON.stringify(everyauth.alipay.user, null, '\t'); }}</p>
{% endif %}
</div>
<p><a href="/logout">登出</a></p>
{% endif %}
{% endblock %}
