<!doctype html>
<html>
<head>
<meta property="qc:admins" content="45314266454064565546375" />
<meta property="wb:webmaster" content="9e5fb08bcf45c188" />
<meta charset="utf-8" />
<title>everyauth-cn example</title>
<link href="/favicon.ico" type="image/x-icon" rel="icon" />
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<link href="/style.css" rel="stylesheet" />
</head>
<body>
    <h1>everyauth-cn example</h1>

    <div class="box">
        <a class="view-code" target="_blank" href="https://github.com/chemdemo/everyauth-cn">&gt;&gt;&nbsp;项目主页</a>
        {% block box %}{% endblock %}
    </div>
</body>
</html>
